node_modules/
venv/
__pycache__/
*.pyc
.DS_Store
*.zip
.env
boto3/
boto3*/
botocore/
botocore*/
s3transfer/
s3transfer*/
urllib3/
urllib3*/
dateutil/
python_dateutil*/
jmespath/
jmespath*/
six.py
six*/
lambda/bin/
